@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

.navbar {
  background-color: rgba(0, 0, 0, 0.566);
}

.navbar.active {
  background-color: rgba(22, 22, 23, .8);
}

.navbar.active .navbar-brand,
.navbar.active .nav-link {
  color: rgb(255, 255, 255);
}

.navbar-brand {
  margin-left: 30px;
  font-weight: bold;
  color: #fb8504;
  font-size: 25px;
  text-align: center;
}

.navbar-brand:hover {
  color: #fb8504;

}


.navbar .navbar-collapse {
  margin-right: 20%;
}

.navbar .navbar-collapse .nav-item {
  padding: 0% 3%;
}

.navbar .navbar-collapse .nav-item .nav-link {
  color: rgb(255, 255, 255);
  /* font-weight: 500; */
  /* color: #000000; */
  font-size: 1rem;


}

.cartNav{
  display: flex;
  flex-direction: row;
  align-items: center;  
}

@media (min-width : 300px) and (max-width:600px) {

  .navbar-brand {
    margin-left: 0px;
    font-weight: bold;
    color: #fb8504;
    font-size: 32px;
    text-align: center;
  }

  .navbar>.containe {
    display: block;
    margin: 0;
  }

  .navbar.active .navbar-brand,
  .navbar.active .nav-link {
    color: rgb(0, 0, 0);
  }

  .navbar .navbar-collapse {
    background-color: #ffffffe4;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.482);
    margin: 0;
  }

  .navbar .navbar-collapse .nav-item {
    height: 30px;
    width: 170px;
    margin: auto;
    margin-top: 5PX;
    text-align: center;
    padding: 0% 0% 0% 0%;
    /* background-color: #fdfdfd67; */
    border-radius: 13rem;
  }

  .navbar .navbar-collapse .nav-item .nav-link {
    padding: 0%;

    text-align: center;

  }



  #carousel-inner #carousel-item #img {
    width: 100%;
    height: 40vh;

  }
}


/* homepage */
.homecon {
  padding-top: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.947),rgba(0, 0, 0, 0.323)), url(./img/shop3.jpg);
 background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 125vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HomeImg {
  position: absolute;
  right: 0%;
  height: 90%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 60% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(73, 73, 73);
  z-index: 0;
}

.HomeImg img {
  width: 100%;
  /* height: 100%; */
}

.carddd {
  height: 90vh;
  width: 100%;

}

.carddd h1{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9rem;
  color: white;

}

.carddd p{
  color: white;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 7px;
  font-family: 'DM Serif Display', serif;
  padding: 0;
  margin: 0;
}

.carddd h5{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size:.9rem;
  font-weight: 600;
  letter-spacing: 4px;
  padding: 0;
  /* font-family: 'DM Serif Display', serif; */
}

.carddd h4{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size:1.7rem;
  font-weight: 600;
  letter-spacing: 3px;
  /* font-family: 'DM Serif Display', serif; */
}

.HomeBut button {
  margin-left: 10px;
  margin-top: 10px;
}


.centeredHome h1 {
  color: #000000;
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
}

.centeredHome span {
  color: #ffffff;
  text-shadow: 1px 0px 5px #ffffff41;
  font-weight: bold;
  font-size: 3rem;
}

.centeredHome h3 {
  color: rgb(33, 33, 33);
  text-shadow: 1px 0px 5px #ffffff31;
  text-align: start;
  padding: 30px 20px;
  font-size: 1.1rem;
}

.centerbut {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 9rem;
  color: #000000;
  background-color: #ffd201;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 1rem;
  border: none;
}

.centerbut:hover {
  transition: all;
  transition-duration: 100ms;
  border: 1.3px solid black;
  background-color: transparent;
  color: #000000;
  font-weight: 600;
}

.backGorundColor {
  background-color: #292930;
  height: 270px;
}


.HomePartsSec {
  margin-top: -170px;
  display: flex;
  justify-content: center;

}

.cardParts {
  background-color: #ffffff;
  height: 600px;
  width: 90%;
  border-radius: .7rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.CardPartsText {
  padding-top: 30px ;
  display: flex;
  justify-content: center;
  align-items: center;
 

}

.CardPartsText h1{
  text-align: center;
}

.cata {
  border-radius: 1rem;
  display: flex;
  background-color: #ffd201;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 60px;
  padding: 10px 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.cata h1 {
  font-size: 1.3rem;
  margin: 0;
  font-weight: 500;
}

.boxAParts {
  padding-top: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.boxp {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: .5rem;
  height: 300px;
  width: 200px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.boxpImg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  height: 200px;
  width: 190px;
  background-color: #ffffff;
}

.boxpImg img {
  width: 100%;
}

.textP {
  text-align: center;
  color: #2b2b2b;

}

.textP h3 {
  font-size: 1rem;
}
.headingPages{
  margin-top: 80px;
  text-align: center;
  font-size: 3rem;
  color: #2b2b2b ;
  font-weight: 400;
}
.activedis{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  margin-bottom: 20px;
}

.WASHING{
  text-decoration: none;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 70px 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  height: 500px;
  width: 80%;
}

.ButtonWASHING{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.ButtonWASHING button{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1.4rem;
  height: 100px;
  width: 250px;
  border: none;
  padding: 20px 20px;
  border-radius: 1rem;
  background-color: #2b2b2b;
  color: rgb(255, 255, 255);
}

.ButtonWASHING button:hover{
  background-color: transparent;
  border: 1px solid #2b2b2b;
  color: #2b2b2b;
  font-weight: 500;
}


@media screen and (max-width: 600px) and (min-width: 300px) {

  .homecon {
    height: 80vh;
  }

  .homecon img {
    width: 100%;
    /* visibility: hidden; */
  }

  .carddd {
    position: relative;
    width: 80%;
    top: 20%;
    /* margin-top: 5rem; */
  }

  .centeredHome h1 {
    font-size: 2.5rem;
  }

  .centeredHome span {
    font-size: 2rem;
  }

  .centeredHome h3 {
    font-size: 1.3rem;
    font-weight: 500;
  }

  .centerbut {
    margin-top: 1.5rem;
    margin-left: 3rem;
    height: 2.5rem;
    width: 7rem;
    font-size: 0.9rem;
  }
}


.Popular{
  padding-left: 90px;
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 30px;
}
.PopulerCompany{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

.company{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 20px;
  gap: 20px;
}

.company .ImageSECCompany{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-weight: 400;
  height: 90px;
  width: 190px;
  font-size: 1.1rem;
  padding: 30px 30px;
}

.company .ImageSECCompany img{
  width: 100%;
  aspect-ratio: 3/1.4;
}


.CarouselWithTwoItems{
  margin-top: 20px;
  padding: 20px 20px;
  overflow-y: hidden;
}

.CarouselWithTwoItems{
overflow-x: hidden;
height: 100%;
}




.CarsolImg img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
}
/* cursole */

.carousel-caption {
  top: 0;
  margin-top: 9rem;
  padding: 0;
}

.carousel-caption h1 {
  text-align: center;
  margin-top: 1.5rem;
  font-weight: bolder;
}

.carousel-caption p {
  text-align: center;
  margin-top: 3rem;
  font-size: 2.4rem;
}

.carousel-inner .carousel-item {
  /* display: block; */
  align-items: center;
  justify-content: center;
  padding: 30px 40px;
}

.carousel-inner .carousel-item .img {
  width: 100%;
  height: 615px;

}

.aboutContant h4 {
  padding: 100px 150px 20px 150px;
  text-align: center;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 1px;
}


.HomeWhySec {
  background-color: #ffddc5;
  height: 400px;
  margin: 120px 0 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.whyImg {
  width: 60%;
}

.whyImg img {
  width: 100%;
  height: 100%;

}


.textWhy {
  padding: 10px 60px;
  width: 40%;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.servivePageBox{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  height: 400px;
}

.icon {
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-align: center;
}

.icon p {
  font-weight: 500;
}


.ico{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 70px ;
  height: 70px;

}


.ico h2{
  font-size: 1.3rem;
  font-weight: 400;
  color: gray;
}

.ico img{
  width: 100%;
}


@media (min-width : 300px) and (max-width:600px) {
  #aboutContant h4 {
    padding: 40px 18px 40px;
  }


  .carousel-caption {
    top: 0;
    margin-top: 3rem;
    padding: 0;
  }

  .carousel-caption h1 {
    text-align: center;
    margin-top: 2.8rem;
    font-weight: bolder;
  }

  .carousel-caption p {
    text-align: center;
    margin-top: 0px;
    font-size: 1rem;
  }

}


/* corsole end */


.servise {
  margin: 50px 20px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:  #1b140d26 0px 3px 8px;
  cursor: pointer;
  border: 1px solid #5c0202;
  height: 200px;
  width: 200px;
}

@media (min-width : 300px) and (max-width:600px) {
  #card {
    width: 100%;
    margin: 10px 0px;
  }
}

.imgg {
  width: 15rem;
  border: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 8px;
}

@media (min-width : 300px) and (max-width:800px) {
  #imgg {
    width: 4rem;
  }
}

.card:hover {
  scale: 1.1;
  transition: all;
  transition-duration: 900ms;
  border: none;
  box-shadow: rgba(57, 192, 255, 0.25) 0px 54px 55px, rgba(22, 115, 245, 0.12) 0px -12px 30px, rgba(46, 96, 245, 0.12) 0px 4px 6px, rgba(37, 147, 243, 0.17) 0px 12px 13px, rgba(44, 167, 243, 0.09) 0px -3px 5px;
}

.card-title {
  text-align: center;
}

s .con {
  margin-top: 40px;
  border-radius: 1rem;
  padding: 15px 70px;
  width: 50%;
}

@media (min-width : 300px) and (max-width:600px) {
  .con {
    border-radius: 1rem;
    padding: 15px 10px;
    margin: 15px 0px;
    width: 100%;
  }

  .con #button {
    margin: 20px 90px;
  }
}

.left {
  margin-top: 40px;
  padding: 15px 100px;
  width: 50%;
}


/* contact */
.photoC {
  width: 100%;
  height: 615px;
  overflow: hidden;
  position: relative;
  color: white;
}

@media (min-width : 300px) and (max-width:600px) {
  .left {
    padding: 15px 10px;
    margin: 10px 0px 0 0;
    width: 100%;
    text-align: center;
  }

  .photoC {
    width: 100%;
    height: 45vh;
    overflow: hidden;
    position: relative;
    color: white;
  }
}


@media (min-width : 300px) and (max-width:600px) {
  #projectImage {
    height: 40vh;
  }

  #headddd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 30px;
    text-shadow: 4px 2px 4px #1b1919;
  }

}

/* contact end */


.con .form-control {
  background-color: #ffffff;
  padding: 15px 30px;
  box-shadow: 3px 3px 8px #2c2c2ca9;
  font-size: 20px;
}

.con .btn-primary {
  margin: 19px 20px;
  font-size: 20px;
  border-radius: 8rem;
  color: white;
  border: none;
  background-color: #0c81accd;
}

.con .btn-primary:hover {
  background-color: #fb8504;
  transition: all;
  transition-duration: 900ms;

}

.details {
  width: 37%;
  margin: 35px 70px;
}







.carousel-item .btn-primary {

  margin-top: 2rem;
  width: 150px;
  height: 40px;
  font-size: 20px;
  border-radius: 8rem;
  color: white;
  border: none;
  background-color: #03ace9af;
  font-weight: bold;
}

.carousel-item .btn-primary:hover {
  background-color: #fb8504;
  transition: all;
  transition-duration: 900ms;
}



@media (min-width : 300px) and (max-width:600px) {
  .carousel-item .btn-primary {

    margin-top: 0px;

  }
}



.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  font-size: 90px;
  font-weight: 700;
  color: #ffffff;
}


.centeredA {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  font-size: 90px;
  font-weight: 700;
  color: #ffffff;
}

.centeredc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  text-align: center;
  font-size: 90px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 2px 2px 8px #1b1919;
}

.photo {
  width: 100%;
  height: 615px;
  overflow: hidden;
  color: white;
}

.photo .imgA {
  width: 100%;

}


@media (min-width : 300px) and (max-width:600px) {
  #photo #imgA {
    width: 100%;
    height: 372px;

  }
}


/* about */

.centeredA {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  text-align: center;
  font-size: 90px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 2px 2px 8px #1b1919;
}

.photoA {
  width: 100%;
  height: 615px;
  overflow: hidden;
  position: relative;
  color: white;
}

@media (min-width : 300px) and (max-width:600px) {
  .left {
    padding: 15px 10px;
    margin: 10px 0px 0 0;
    width: 100%;
    text-align: center;
  }

  .photoA {
    width: 100%;
    height: 45vh;
    overflow: hidden;
    position: relative;
    color: white;
  }
}


.contan {
  margin: 70px 10px;
  padding: 40px 80px;
}

.contan h2 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
  font-weight: 700px;

}


.rowleft {
  width: 50%;
  padding: 10px 100px 10px 70px;
}

.rowright {
  width: 50%;
  padding: 10px 100px 10px 70px;
}


@media (min-width : 300px) and (max-width:600px) {
  #projectImageA {
    height: 40vh;
  }

  #headdddA {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 35px;
    text-shadow: 4px 2px 4px #1b1919;
  }

  .contan {
    margin: 30px 15px;
    padding: 0px 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 400
  }

  .contan h2 {
    font-size: 30px;

  }

  .rowleft {
    width: 100%;
    padding: 10px 25px;
    text-align: center;
    font-size: 20px;
    font-weight: 400
  }

  .rowleft h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .rowright {
    width: 100%;
    padding: 10px 25px;
    text-align: center;
    font-size: 20px;
    font-weight: 400
  }

  .rowright h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }

}

/* about end */





/* parts */

.Secpart {
  padding: 100px 30px;
  background-color: #ffffff;
}

.Secpart h2 {
  color: whitesmoke;
  text-align: center;
}


.proCard {
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.ProductImgCard {
  padding: 30px 30px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.productCard {
  padding-top: 20px;
  background-color: #ffffff;
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: .4rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.ProImg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  width: 200px;
  padding: 60px 20px;

}

.ProImg img {
  width: 100%;
}

.proText h1 {
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}


.proText p {
  text-align: center;
}


.selectedCategory {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.textSelect{
  display: flex;
  align-items: center;
  justify-content: center;
flex-direction: column;
}

.textSelect h2{
  padding-bottom: 10px;
  color: rgb(0, 0, 0);
  font-size: 3rem;
  font-weight: 700;
}

.textSelect p{
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
}


.selectedCategory h2 {
  margin: 0;
}

.selectedCategory select {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 170px;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 300;
  padding: 5px 10px;
  border: 1px solid #ffffff;
  color: whitesmoke;
  border-radius: .7rem;
  background-color: transparent;
  cursor: pointer;
}

.selectedCategory select:hover {
  background-color: #ffffff;
  color: #000000;
  font-weight: 400;
  font-size: 1.3rem;
}

.selectedCategory option {
  color: #000000;
}




.boxAPartsP {

  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.conta .options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.conta .options button {
  background-color: transparent;
  height: 100%;
  width: auto;
  color: #000000;
  border: none;
}

.conta .options button:hover {
  transition: all;
  transition-duration: 900ms;
  background-color: transparent;
  border: none;
}



.conta img {
  width: 100%;
}


.carddBody {
  background-color: rgba(202, 231, 254, 0.15);
}

.carddBody .cardd {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px 30px;
}

.carddBody .cardd .carousel {
  padding: 20px 20px;
  height: 400px;
  width: 300px;
  border: 1px solid rgba(11, 20, 196, 0.125);
  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.107);
  border-radius: 1.3rem;
  background-color: #ffffff;
  overflow: hidden;
}

.carddBody .cardd .carousel:hover {
  scale: 1.07;
  transition: all;
  transition-duration: 900ms;
}

.carddBody .cardd .carousel .carousel-item {
  height: 350px;
  width: 300px;
}

.carddBody .cardd .carousel h2 {
  color: rgb(2, 2, 2);
  position: relative;
  bottom: 1px;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.carddBody .cardd,
.carousel img {
  width: 100%;

}


@media screen and (max-width: 600px) and (min-width: 300px) {

  .part {
    margin-top: 4rem;
    padding: 30px 20px;
    height: auto;
  }

  .conta .options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .conta .options button {
    font-size: 1.1rem;
  }

  .conta img {
    width: 80%;
  }

  .carddBody .cardd {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px 20px;
  }

  .carddBody .cardd .carousel {
    height: 350px;
    width: 100%;
    border-radius: 0.8rem;
  }

  .carddBody .cardd .carousel .carousel-item {

    height: 220px;
    width: 100%;
  }

  .carddBody .cardd .carousel h2 {
    font-size: 1.2rem;
  }

}





/* parts end */

/* footer */
.footer {
  background-color: #292930;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .footerabout {
  font-size: 1.3rem;
  padding: 20px 120px;
  font-weight: bold;
  color: whitesmoke;
}

.footer .footerabout span {
  color: rgb(255, 238, 4);
  font-size: 1.8rem;
}

.footer .footertext {
  font-size: 1.2rem;
  padding: 20px 120px;
  font-weight: 300;
  color: whitesmoke;
  font-family: sans-serif;
}


@media screen and (max-width: 600px) and (min-width: 300px) {

  .footer {
    flex-direction: column;
    margin-top: 4rem;
    height: 60vh;
  }

  .footer .footerabout {
    padding: 40px 30px;
    font-size: 1rem;
    text-align: center;
  }

  .footer .footerabout span {
    font-size: 1.3rem;
  }

  .footer .footertext {
    font-size: 1.2rem;
    padding: 40px 50px;
    text-align: center;
  }
}

/* project end */

/* cart */

.cart{
  background-color: #292930;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartSection{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  background-color: #292930;
  color: white;
  height: 100vh;
  padding: 100px 50px  10px 50px;
}


.SelectedSec{
  width: 600px;
  height: 100%;
}

.Addtocart{
  width: 400px;
  height: 100%;
}
.Cartcard{
  padding-top: 10px;
  background-color: rgb(245, 245, 245);
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow-y: auto;
  border-radius: 1rem;
}

.CartcardIN{
  margin-bottom: 5px;
  border-radius:1rem ;
  width: 98%;
  height: 70px;
  padding:10px 30px;
  cursor: pointer;
}

.Cartcard h3{
  color: #000000;
}


.CartcardI{
  padding-top: 10px;
  background-color: rgb(245, 245, 245);
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
  border-radius: 1rem;
}

.cartlist{
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius:1rem ;
  width: 96%;
  height: 70px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: rgb(24, 24, 24);
  padding:10px 30px;
  cursor: pointer;
  
}


.cartlistF{
  margin-bottom: 5px;
  border-radius:1rem ;
  width: 96%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: rgb(24, 24, 24);
  padding:20px 30px;
  cursor: pointer; 
}

.cartlistF h4{
  margin: 0;
  padding-bottom: 10px;
  text-align: start;
  font-weight: 400;
  font-size: 1.3rem;
}


.cartlist h2{
  font-size: 1rem;
  margin: 0;
  font-weight: 400;
}

/* .cartlist:hover{
  background-color: gray;
  color: white;
} */

.CartButton{
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 70px;
 
}

.CartButton h3{
  color: #000000;
}


.CartButton button{
 height: 40px;
 width: 120px;
 background-color: #ffd201;
 color: #000000;
 border: none;
 border-radius: 1rem;
}


.butRemove{
  background: none;
  border: none;
}

.butRemove:hover{
 scale: 1.2;
}


.bottomCart{
  display: flex;
  align-items: center;
  justify-content: space-between;
}






/* sideBar */


.sidebar {
  width: 250px;
  height: 100%;
  background-color: #ec0000;
  position: fixed;
  top: 0;
  right: -250px;
  transition: left 0.3s ease-in-out;

}

.sidebar.open {
  right: 0;
}

.toggle-button {
  cursor: pointer;
  width: 120px;
  height: 50px;
  background:none;
  border: none;
  color: #ffffff;
  font-size: 24px;
  padding: 10px;
  position: absolute;
  z-index: 3000;
  top: 8px;
  left: -30%;
}

.toggle-button.open{
  display: none;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
}

.menu li {
  padding: 10px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.menu li:hover {
  background-color: #555;
}